<div class="container">
    <h1>{{titulo}}</h1> 
    <div class="row">
        <div #div1 id="div1" class="col-6" [style]="'background-color:' + color1">
            <h2>Panel 1</h2>
        </div>
        <div #div2 id="div2" class="col-6" [style.backgroundColor]="color2">
            <h2>Panel 2</h2>
        </div>
    </div>
    <button class="btn btn-secondary" onclick="javascript:Cambiar()">
        Boton javascript
    </button>
    <button class="btn btn-secondary" (click)="Cambiar()">
        Boton Typescript
    </button>
    
    <div [ngStyle]="{ padding : '3em' }">

        <ul class="list-group">
            <li class="list-group-item active">Mis alumnos</li>
            <li class="list-group-item" *ngFor="let alumno of alumnos">
            {{alumno}}
            <button class="btn btn-danger" >
                Borrar
            </button>
            </li>
            <li>
                <div class="input-group">
                    <input #nombre type="text" class="form-control" placeholder="Ingrese un nombre" />
                    <button class="btn btn-outlet-primary" (click)="AgregarElemento(nombre)" >Agregar</button>
                </div>
            </li>
        </ul>

    </div>
    


</div>

<script>
    function Cambiar(){
        if(document.getElementById('div1').style.backgroundColor =='red'){
            document.getElementById('div1').style.backgroundColor = 'green';
            document.getElementById('div2').style.backgroundColor ='red';
        }else{
            document.getElementById('div1').style.backgroundColor ='red';
            document.getElementById('div2').style.backgroundColor = 'green';
        }
    }
</script>

